<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>
<body>
<body>

		<section class="layout-content" layout:fragment="corpo">
			<nav class="navbar navbar-expand-md bg-light">
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav mr-auto">
					</ul>
				</div>
			</nav>

			<div class="container">
				<div id="list-home" class="row">
					<div class="col-12">
						<img class="mb-4" src="image/in.jpeg" alt="" width="100%" height="auto">
					</div>
				</div>
			</div>
		</section>
</body>
</html>